body {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-size: xx-large;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightgray;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: larger;
    cursor: pointer;
}

.success-button {
    background: green;
}

.delete-product-btn {
    background: red;
}

.cancel-button {
    background: gray;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
}

#product_form {
    width: 400px;
    margin-left: 20px;
}


.form-group {
    align-items: center;
    margin-bottom: 20px;
}


label {
    flex: 0 0 100px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}


input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
}


.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    flex: 1;
}


.additionalFieldRow .error {
    margin-top: 5px;
    margin-left: 10px;
}


#typeDescription {
    margin-top: 10px;
    font-style: italic;
}

.instructions {
    font-style: italic;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 25% );
    grid-gap: 10px;
    justify-content: center;
}

.product{
    border: solid;
    padding: 10px;
    font-size: 20px;
}

.product-attributes{
    text-align: center;
}

.delete-checkbox{
    transform: scale(1.5);
}

@media(max-width:960px){
    .product-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media(max-width:580px){
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.error{
    color:red;
    font-size: small;
    margin-left: 5px;
}
