{% extends "layout.twig" %}

{% block script %}

{% endblock %}

{% block title %}
    Product Add
{% endblock %}

{% block heading %} <h1>Product Add</h1> {% endblock %}

{% block buttons %}
    <button class="success-button" form="product_form" type="submit" id="submit">Save</button>
    <a href="/">
        <button class="cancel-button" type="button"> Cancel</button>
    </a>

{% endblock %}

{% block content %}
    <form id="product_form" method="post" action="/product">
        <div class="form-group">
            <label for="sku">SKU</label>
            <input id="sku" name="sku" type="text" value="{{ session._flash.sku }}">
            <label id="sku-error" class="error" for="sku"></label>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" value="{{ session._flash.name }}">
            <label id="name-error" class="error" for="name"></label>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" name="price" type="number" step="0.01" min="0" value="{{ session._flash.price }}">
            <label id="price-error" class="error" for="price"></label>
        </div>

        <div class="form-group">
            <label for="productType">Type Switcher</label>
            <select class="selector" id="productType" name="type">
                <option value="" disabled selected hidden>Select Product Type</option>
                <option id="dvd" value="Dvd">DVD</option>
                <option id="book" value="Book">Book</option>
                <option id="furniture" value="Furniture">Furniture</option>
            </select>
            <label id="productType-error" class="error" for="name"></label>
        </div>

        <div id="additionalFields"></div>

        <div id="typeDescription"></div>
    </form>
    <script src="/js/custom-attributes.js"></script>
    <script src="/js/validate.js"></script>
{% endblock %}