{% extends "layout.twig" %}

{% block script %}

{% endblock %}

{% block title %}
    Product Add
{% endblock %}

{% block heading %} <h1>Product Add</h1> {% endblock %}

{% block buttons %}
    <button class="success-button" form="product_form" type="submit">Save</button>
    <button class="danger-button" type="button">
        <a href="/">Cancel</a>
    </button>

{% endblock %}

{% block content %}
    <form id="product_form" method="post" action="/product">
        <div class="common-attributes">
            <label for="sku">SKU</label>
            <input id="sku" name="sku" type="text" autocomplete="off">

            <label for="name">Name</label>
            <input id="name" name="name" type="text" autocomplete="off">

            <label for="price">Price ($)</label>
            <input id="price" name="price" type="number" step="0.01" min="0">
        </div>

        <div class="type-switcher">
            <label for="productType">Type Switcher</label>
            <select class="selector" id="productType" name="productType">
                <option value="" disabled selected hidden>Select Product Type</option>
                <option id="dvd" value="dvd">DVD</option>
                <option id="book" value="book">Book</option>
                <option id="furniture" value="furniture">Furniture</option>
            </select>

            <div class="attributes" id="dvd-attributes" hidden>

                <label for="size">Size (MB)</label>
                <input id="size" name="size" type="number" step="0.01" min="0">
                <p class="instructions">Please, provide size in MB</p>

            </div>

            <div class="attributes" id="book-attributes" hidden>
                <label for="weight">Weight (KG)</label>
                <input id="weight" name="weight" type="number" step="0.01" min="0">
                <p class="instructions">Please, provide weight in kgs</p>

            </div>

            <div class="attributes" id="furniture-attributes" hidden>

                <label for="height">Height (CM)</label>
                <input id="height" name="height" type="number">

                <label for="width">Width (CM)</label>
                <input id="width" name="width" type="number">

                <label for="length">Length (CM)</label>
                <input id="length" name="length" type="number">

                <p class="instructions">Please, provide dimensions in cm</p>

            </div>
        </div>
    </form>

{% endblock %}