{% extends "layout.twig" %}

{% block script %}

{% endblock %}

{% block title %}
    Product Add
{% endblock %}

{% block heading %} <h1>Product Add</h1> {% endblock %}

{% block buttons %}
    <button class="success-button" form="product_form" type="submit" id="submit">Save</button>
    <button class="cancel-button" type="button">
        <a href="/">Cancel</a>
    </button>

{% endblock %}

{% block content %}
    <form id="product_form" method="post" action="/product">
        <div class="common-attributes">
            <label for="sku">SKU</label>
            <input id="sku" name="sku" type="text" autocomplete="off">

            <label for="name">Name</label>
            <input id="name" name="name" type="text" autocomplete="off">

            <label for="price">Price ($)</label>
            <input id="price" name="price" type="number" step="0.01" min="0">
        </div>

        <div class="type-switcher">
            <label for="productType">Type Switcher</label>
            <select class="selector" id="productType" name="type">
                <option value="" disabled selected hidden>Select Product Type</option>
                <option id="dvd" value="Dvd">DVD</option>
                <option id="book" value="Book">Book</option>
                <option id="furniture" value="Furniture">Furniture</option>
            </select>

            <div id="additionalFields"></div>
        </div>

        <p id="form-message"></p>
    </form>
    <script>
        $(document).ready(function () {
            var fieldsConfig = {
                Book: [
                    {label: 'Weight', name: 'weight', type: 'text'}
                ],
                Dvd: [
                    {label: 'Size', name: 'size', type: 'text'}
                ],
                Furniture: [
                    {label: 'Length', name: 'length', type: 'text'},
                    {label: 'Width', name: 'width', type: 'text'},
                    {label: 'Height', name: 'height', type: 'text'}
                ]
            };

            // Function to handle the change event of the productType select element
            $('#productType').change(function () {
                var selectedType = $(this).val(); // Get the selected value

                // Clear the additionalFields div
                $('#additionalFields').empty();

                if (selectedType && fieldsConfig[selectedType]) {
                    // Generate fields based on the selected type
                    fieldsConfig[selectedType].forEach(function (field) {
                        $('#additionalFields').append('<label for="' + field.name + '">' + field.label + '</label>');
                        $('#additionalFields').append('<input id="' + field.name + '" name="' + field.name + '" type="' + field.type + '" >');
                    });
                }
            });
        });
    </script>
{% endblock %}